{% if products.has_previous or products.has_next %}
    <nav>
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}